In [12]:
import pandas as pd
df=pd.read_csv("C:\\Users\Administrator\\OneDrive\\Desktop\\jupyter\\weather_data.csv",na_values=["rain","na"])
df

   0         day  temperature  event
0  1  01-03-2222         35.0  sunny
1  2  02-04-2222          NaN  sunny
2  3  03-04-2222         10.0    NaN
3  4  04-04-2000         20.0    NaN

In [8]:
df.to_csv('new.csv',index=False)

In [ ]:
df.to_csv('new2.csv',index=False,columns=['event','day'])